<div class="login-container">
  <div class="login-background"></div>
  <mat-card class="login-card">
    <mat-progress-bar
      mode="indeterminate"
      color="primary"
      *ngIf="loadingBar"
    ></mat-progress-bar>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1 class="title">Finance Manager</h1>
        <mat-hint>Welcome, To get started please login</mat-hint>
        <div *ngIf="isDemo | async">
          <br /><mat-error
            >Use the demo account: username = "test" and password =
            "test"</mat-error
          >
        </div>
        <br /><br />

        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            required
            formControlName="username"
            autocapitalize="none"
            autocomplete="username"
          />
          <mat-error>Username Required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            required
            formControlName="password"
            autocomplete="current-password"
          />
          <mat-error>Password Required</mat-error>
        </mat-form-field>
        <br />
        <mat-error>{{ error }}</mat-error>
        <button
          id="login-submit"
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="!loginForm.valid || loginForm.disabled"
        >
          Login
        </button>
        <div
          matTooltip="Register disabled in demo mode"
          [matTooltipDisabled]="!(isDemo | async)"
        >
          <button
            mat-button
            type="button"
            [routerLink]="['/register']"
            [disabled]="isDemo | async"
            matTooltip="test"
          >
            Register
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
