<form [formGroup]="transactionForm" ngNativeValidate>
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input type="date" matInput required formControlName="date" />
    <mat-error>Date Required</mat-error>
  </mat-form-field>
  <br />

  <div *ngIf="hideAccountSelector != 'true'">
    <mat-form-field appearance="outline">
      <mat-label>Account</mat-label>
      <mat-select
        formControlName="account"
        required
        [compareWith]="accountComparer"
      >
        <mat-option *ngFor="let account of accounts$ | async" [value]="account">
          {{ account.AccountName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input type="number" matInput required formControlName="amount" />
    <mat-error>Amount Required</mat-error>
  </mat-form-field>
  <br />

  <!-- <mat-form-field appearance="outline">
    <mat-label>Currency</mat-label>
    <input type="text" matInput required formControlName="currency" />
    <mat-error>Currency Required</mat-error>
  </mat-form-field>
  <br /> -->

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" required>
      <mat-option value="SETTLED">Settled</mat-option>
      <mat-option value="PENDING">Pending</mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <input type="text" matInput formControlName="type" />
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label>Vendor</mat-label>
    <input type="text" matInput formControlName="vendor" />
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <input type="text" matInput formControlName="category" />
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label>Merchant</mat-label>
    <input type="text" matInput formControlName="merchant" />
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label>Note</mat-label>
    <textarea matInput formControlName="note"></textarea>
  </mat-form-field>
  <br />

  <ng-content select="[extrafields]"></ng-content>

  <div class="row">
    <button
      (click)="submit()"
      class="col-md-1 col-sm-12"
      mat-flat-button
      color="primary"
      [disabled]="!transactionForm.valid || !parentValid"
    >
      Save
    </button>
    <button (click)="cancel()" class="col-md-1 col-sm-12" mat-stroked-button>
      Cancel
    </button>
  </div>
</form>
