<div>
  <div style="margin-bottom: 20px" *ngIf="!transactionNotFound">
    <img
      [src]="icon || 'assets/defaultTransaction.png'"
      class="transaction-logo"
    />
    <button
      mat-stroked-button
      color="primary"
      (click)="setIconToNull()"
      style="margin-right: 8px"
    >
      Reset Icon
    </button>
    <button mat-stroked-button color="warn" (click)="delete()">Delete</button>
  </div>

  <app-transaction-form
    (save)="save($event)"
    [hidden]="transactionNotFound"
  ></app-transaction-form>

  <h1 *ngIf="transactionNotFound" style="color: red">
    Could not find Transaction
  </h1>
</div>
