<div class="register-container">
  <div class="register-background"></div>
  <mat-card class="register-card">
    <mat-progress-bar
      mode="indeterminate"
      color="primary"
      *ngIf="loadingBar"
    ></mat-progress-bar>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h1 class="title">Finance Manager</h1>
        <mat-hint>Sign up Below</mat-hint>
        <br /><br />

        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input
            type="text"
            matInput
            required
            formControlName="firstName"
            autocomplete="fname"
          />
          <mat-error>First Name Required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            type="text"
            matInput
            required
            formControlName="lastName"
            autocomplete="lname"
          />
          <mat-error>Last Name Required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            required
            formControlName="username"
            autocomplete="username"
          />
          <mat-error>Username Required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            required
            formControlName="password"
            autocomplete="new-password"
          />
          <mat-error>Password Required</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            matInput
            required
            formControlName="confirmPassword"
            autocomplete="new-password"
          />
          <mat-error>Password Required</mat-error>
        </mat-form-field>
        <br />
        <mat-error>{{ error }}</mat-error>
        <button
          id="register-submit"
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="!registerForm.valid || registerForm.disabled"
        >
          Sign Up
        </button>
        <button mat-button type="button" [routerLink]="['/login']">
          Cancel
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
