<mat-progress-bar
  id="loading-bar"
  mode="indeterminate"
  color="accent"
  *ngIf="'default' | swIsLoading | async"
></mat-progress-bar>
<mat-toolbar
  id="top-bar"
  color="primary"
  class="mat-elevation-z4"
  fixedInViewport
>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    class="hide-button-outline"
    (click)="sidenav.toggle()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="full-text">Finance Manager</span>
  <span class="short-text">Finance Manager</span>
  <span class="fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="addMenu" aria-label="add-menu">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #addMenu="matMenu">
    <button mat-menu-item [routerLink]="['/add/account']">
      <span class="fas fa-user"></span>
      <span>Add New Account</span>
    </button>
    <button mat-menu-item [routerLink]="['/add/transaction']">
      <span class="fas fa-money-check-alt"></span>
      <span>Add New Transaction</span>
    </button>
    <button mat-menu-item [routerLink]="['/add/transaction/split']">
      <span class="fas fa-columns"></span>
      <span>Add Split Transaction</span>
    </button>
    <button mat-menu-item [routerLink]="['/add/goal']">
      <span class="fas fa-balance-scale"></span>
      <span>Add New Goal</span>
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="toolMenu" aria-label="tool-menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #toolMenu="matMenu">
    <!-- <button mat-menu-item [routerLink]="['/user-account']">
      <mat-icon>account_circle</mat-icon>
      <span>Account</span>
    </button>
    <button mat-menu-item [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button> -->
    <button mat-menu-item (click)="LogOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" fullScreen>
  <mat-sidenav
    #drawer
    id="sidenav"
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary"> </mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let item of menuItems">
        <a
          mat-list-item
          class="menu-item"
          [routerLink]="item.route"
          [routerLinkActive]="['mat-primary-background']"
          [routerLinkActiveOptions]="item.routerLinkActiveOptions || {}"
          (click)="PageChanged()"
          [matTooltip]="item.matTooltip"
          ><span [class]="item.icon"></span> {{ item.name }}</a
        >
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <div class="container-fluid">
    <div *ngIf="showBackButton$ | async">
      <button
        type="button"
        aria-label="Go back"
        mat-icon-button
        style="float: left"
        class="hide-button-outline"
        (click)="goBack()"
      >
        <mat-icon aria-label="Side nav toggle icon"
          >keyboard_backspace</mat-icon
        >
      </button>
      <h1 style="font-size: 28px; float: left; margin-top: 5px">
        {{ page_title$ | async }}
      </h1>
      <br />
      <br />
      <br />
    </div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
